@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.active-navigation {
		@apply fixed top-0 left-1/2 bg-white shadow-md z-50;
		transition: all 0.3s ease-in-out;
		width: 60%;
		min-width: 500px;
		margin-top: 12px;
		padding: 12px 26px;
		border-radius: 50px;
		transform: translateX(-50%);
	}

	.active {
		@apply text-blue-500 sticky top-0 left-0 w-screen opacity-100;
	}
}